@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0 50px;
}

.hero {
    background-color: #1f2937;
    display: flex;
}

.hero-content {
    align-self: center;
    padding: 100px 50px;
    margin: 0;
    gap: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-right-container {
    margin: 0;
    display: flex;
    flex: 1 1;
    justify-content: right;
}

.hero-image {
    margin: 0;
    max-width: 700px;
    min-width: 300px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info-header {
    align-self: center;
}

.carousel {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    padding: 50px;
}

.image {
    
    
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 70px;
}

.quote {
    flex-wrap: wrap;
}

.author {
    align-self: flex-end;
}

.footer {
    background-color: #1f2937;
    display: flex;
    flex: auto;
}

.left-links {
    padding: 0;
}

.right-links {
    color: #e5e7eb;
    display: flex;
    gap: 10px;
}

.hero-header {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

.action {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.modal {
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 25px 40px;
}

.action-text {
    display: flex;
    flex-direction: column;
}

.action-header {
    font-size: 20px;
    color: #f9faf8;
    font-weight: 900;
}

.action-sub {
    font-size: 16px;
    color: #e5e7eb;
}

.sign-up {
    background-color: #3882F6;
    border: 2px solid #e5e7eb;
    border-radius: 15px;
    padding: 3px 10px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-button {
    background-color: #3882F6;
    border: none;
    border-radius: 15px;
    padding: 3px 10px;
    color: #f9faf8;
    font-weight: 900;
}

.footer {
    color: #e5e7eb;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #f9faf8;
    color: #e5e7eb;
}

img {
    width: 100%;
    height: auto;
    object-fit: scale-down;
}